.panel.panel-default
	.panel-body
		.row
			.col-md-4
				= image_tag @movie.image.url(:medium)
				.star-rating{"data-score" => "<haml_loud"} avg_review
				%em= "#{@reviews.length} reviews"
				.table-responsive
					%table.table
						%tbody
							%tr
								%td
									%strong Title:
								%td= @movie.title
								%td
									%strong Description:
								%td= @movie.description
								%td
									%strong Movie length:
								%td= @movie.movie_length
								%td
									%strong Director:
								%td= @movie.director
								%td
									%strong Rating:
								%td= @movie.rating
						= link_to "Write a Review", new_movie_review_path(@movie)

			.col-md-7.col-md-offset-1
				%h1.review_title= @movie.title
				%p= @movie.description
				- if @reviews.blank?
					%h3 No reviews just yet, would you like to add the first!
					= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger"
				- else
					- @reviews.each do |review|
					.reviews
						.star-rating{"data-score" => "<haml_loud"} review.rating  &gt;
						%p= review.rating
						%p= review.comment

:javascript
  $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
              return $(this).attr('data-score');
      }
    });
